  * {
      border: 1;
      border-radius: 8;
      font-family: "Symbols Nerd Font", "JetBrainsMono Nerd Font";
      font-size: 14px;
      min-height: 0;
      margin: 0.1 2px;
  }

  window#waybar {
      background: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 5px 5px;
      border-radius: 0;
  }

/* transparent bg rgba(43, 48, 59, 0.5) */
  

  tooltip {
      background: rgba(43, 48, 59, 0.5);
      border: 1px solid rgba(100, 114, 125, 0.5);
  }

  tooltip label {
      color: white;
  }

  #workspaces button {
      padding: 0 5px;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border-bottom: 3px solid transparent;
      padding: 5px 5px;
  }

  #workspaces button.focused {
      background: #313334;
      border-bottom: 5px solid white;
  }

  #workspaces button.active {
      background: #0f6ba8;
      color: #ffffff;
  }

  #pulseaudio,
  #backligt,
  #battery {
      padding: 5px 5px;
  }

  #clock {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 5px;
  }

  #pulseaudio {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 5px;
      border-left: 0px;
      border-right: 0px;
  }

  #backlight {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 5px;
  }

  #battery {
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      padding: 5px 5px;
  }

/*
  @keyframes blink {
      to {
          background-color: #ffffff;
          color: black;
      }
  }
*/

  #window {
      margin-left: 120px;
      margin-right: 120px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 5px 5px;
  }
