  * {
      border: none;
      border-radius: 0;
      font-family: "Symbols Nerd Font", "LXGW WenKai";
      font-size: 14px;
      min-height: 0;
  }

  window#waybar {
      background: rgba(43, 48, 59, 0.5);
      color: white;
      padding: 10px 10px;
  }

  tooltip {
      background: rgba(43, 48, 59, 0.5);
      border: 1px solid rgba(100, 114, 125, 0.5);
  }

  tooltip label {
      color: white;
  }

  #workspaces button {
      padding: 0 5px;
      background: #000000;
      color: white;
      border-bottom: 3px solid transparent;
      padding: 10px 10px;
  }

  #workspaces button.focused {
      background: #313334;
      border-bottom: 5px solid white;
  }

  #workspaces button.active {
      background: #dfdda4;
      color: #000000;
  }

  #pulseaudio,
  #backligt,
  #battery {
      padding: 10px 10px;
  }

  #clock {
      background-color: #64727D;
      padding: 10px 10px;
  }

  #pulseaudio {
      background-color: #434e57;
      padding: 10px 10px;
      border-left: 0px;
      border-right: 0px;
  }

  #backlight {
      background-color: #64727D;
      padding: 10px 10px;
  }

  #power-profiles-daemon {
      background-color: #434e57;
      padding: 10px 10px;
  }

  #battery {
      background-color: #ffffff;
      color: black;
      padding: 10px 10px;
  }

  #battery.charging {
      color: white;
      background-color: #26A65B;
      padding: 10px 10px;
  }

  @keyframes blink {
      to {
          background-color: #ffffff;
          color: black;
      }
  }

  #battery.warning:not(.charging) {
      background: #f53c3c;
      color: white;
      animation-name: blink;
      animation-duration: 0.5s;
      animation-timing-function: steps(12);
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }

  #window {
      margin-left: 120px;
      margin-right: 120px;
      background-color: #64727D;
      padding: 10px 10px;
  }